{% macro global_header(name) %}
  <div class="global-header">
    <div class="container">
      <div class="skip-link">
        <a href="#content">Skip to main content</a>
      </div>
      <div class="header-branding">
        <a href="https://gov.uk" title="Go to the GOV.UK homepage" class="header-logo">
          <span>GOV.UK</span>
        </a>
      </div>
      {% if name %}
        <div class="header-proposition">
          <div class="proposition-name">{{ name }}</div>
        </div>
      {% endif %}
      <div class="header-bar"></div>
    </div>
  </div>
{% endmacro %}

{% macro global_subheader(phase) %}
  <div class="global-subheader container">
    <div class="subheader-item phase-banner">
      {% if phase and phase is string %}
        <span class="phase-tag phase-tag-{{ phase|lower }}">
          {{ phase|upper }}
        </span>
      {% endif %}
      <span class="phase-banner-message">
        This is a new service – your <a href="/feedback">feedback</a> will help us to improve it.
      </span>
    </div>
  </div>
{% endmacro %}
