{% extends 'layouts/generic-py-base.html' %}
{% load staticfiles %}

{% block head %}
  {{ block.super }}
  <!--[if lt IE 9]>
    <script src="{% static 'scripts/ie.min.js' %}" type="text/javascript"></script>
  <![endif]-->
{% endblock %}

{% block main_js %}
  <script src="{% static 'jquery/dist/jquery.js' %}"></script>
  <script src="{% static 'scripts/moj.js' %}"></script>
{% endblock %}

{% block template_type %}external{% endblock %}

{% block govuk_logo %}
  <div class="header-branding">
    <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" class="header-logo">
      <span>GOV.UK</span>
    </a>
  </div>
{% endblock %}
